<!DOCTYPE html>
<html lang="en">
    <%- include('./components/head.ejs') %>

<body>
    <div class="container">
        <h3>404 Error Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatem quae, illum aliquam laborum eaque quidem? Voluptas consequatur natus minima ab, ullam non, nam aut, rem beatae suscipit vero est?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatem quae, illum aliquam laborum eaque quidem? Voluptas consequatur natus minima ab, ullam non, nam aut, rem beatae suscipit vero est?</p>

    </div>
</body>
</html>